# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Database
*.db
*.db-journal
prisma/*.db

# Env
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ZIP
*.zip
